# Prerequisites
*.d

# Object files
*.ko
*.obj
*.so
*.su
*.cyclo
*.d
*.o
*.list
*.map
*.launch
*.map
*.bin
*.elf



# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
/Debug/**/*.*
!Debug/*.elf
/Debug/
/Docs/robot_presets/current.json
/Docs/robot_presets/preset_20260328_163620.json
/Docs/robot_presets/preset_20260328_222138.json
/Docs/robot_presets/preset_20260328_222219.json
/Docs/robot_presets/preset_20260328_222229.json
/Docs/robot_presets/preset_20260328_222454.json
/Docs/robot_presets/preset_20260328_222459.json
/Docs/robot_presets/preset_20260328_223635.json
/Docs/robot_presets/preset_20260328_223725.json
/Docs/robot_presets/preset_20260328_224303.json
/Docs/*.zip
