# Prerequisites
*.d

# Object files
*.ko
*.obj
*.so
*.su
*.cyclo
*.d
*.o
*.list
*.map
*.launch
*.map
*.bin
*.elf



# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
/Debug/**/*.*
!Debug/*.elf
/Debug/
/Docs/robot_presets/current.json
/Docs/robot_presets/preset_20260328_163620.json
/Docs/robot_presets/preset_20260328_222138.json
/Docs/robot_presets/preset_20260328_222219.json
/Docs/robot_presets/preset_20260328_222229.json
/Docs/robot_presets/preset_20260328_222454.json
/Docs/robot_presets/preset_20260328_222459.json
/Docs/robot_presets/preset_20260328_223635.json
/Docs/robot_presets/preset_20260328_223725.json
/Docs/robot_presets/preset_20260328_224303.json
/Docs/*.zip
/Docs/logs/23.txt
/Docs/logs/24.txt
/Docs/logs/25.txt
/Docs/logs/26.txt
/Docs/logs/27.txt
/Docs/logs/28.txt
/Docs/logs/29.txt
/Docs/logs/30.txt
/Docs/logs/31.txt
/Docs/logs/32.txt
/Docs/logs/33.txt
/Docs/logs/34.txt
/Docs/logs/35.txt
/Docs/logs/36.txt
/Docs/logs/37.txt
/Docs/logs/38.txt
/Docs/logs/39.txt
/Docs/logs/40.txt
/Docs/logs/41.txt
/Docs/logs/42.txt
/Docs/logs/43.txt
/Docs/logs/44.txt
/Docs/logs/45.txt
/Docs/logs/46.txt
/Docs/logs/47.txt
/Docs/logs/48.txt
/Docs/logs/49.txt
/Docs/logs/50.txt
/Docs/logs/51.txt
/Docs/logs/52.txt
/Docs/logs/53.txt
/Docs/logs/54.txt
/Docs/logs/55.txt
/Docs/logs/56.txt
/Docs/logs/57.txt
/Docs/logs/58.txt
/Docs/logs/59.txt
/Docs/logs/60.txt
/Docs/logs/61.txt
/Docs/logs/62.txt
/Docs/logs/63.txt
/Docs/logs/64.txt
/Docs/logs/65.txt
/Docs/logs/66.txt
/Docs/logs/67.txt
/Docs/logs/68.txt
/Docs/logs/69.txt
/Docs/logs/70.txt
/Docs/logs/81.txt
/Docs/logs/82.txt
/Docs/logs/83.txt
/Docs/logs/84.txt
/Docs/logs/85.txt
/Docs/logs/87.txt
/Docs/logs/90.txt
/Docs/logs/hg_speech_pipeline_token.txt
/Docs/logs/диалог.txt
/Docs/logs/Новый текстовый документ.txt
/Docs/logs/Руководство ПАБ.txt
